.color-palette {
  height: 20vh;
  width: 30vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-size: v font-weight: bold;
  padding-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem
}

.frost {
  background-color: var(--var-frost)
}

.lead {
  background-color: var(--var-lead)
}

.burnt-amber {
  background-color: var(--var-burnt-amber)
}

.nightfall {
  background-color: var(--var-nightfall)
}

.bark {
  background-color: var(--var-bark)
}
